<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Program Solver</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/lp-solver-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
</head>

<div class="container-fluid">
<body> 
<h1>Linear Program Solver</h1>
<p>Find the optimal solution of a linear program, or decide if it is infeasible or unbounded.</p>
<form action="/submit" method="post">
    <fieldset>
        <label for="matrix-A">
            Enter constraint matrix \(A\) in \(Ax=b\) :
            <textarea name="constraint-matrix-A" id="matrix-A" cols="30" rows="5" placeholder="[[1,0,0], [0,1,0], [0,0,1]]" required></textarea>
        </label> 
        <label for="vector-b">
            Enter constraint vector \(b\) in \(Ax=b\) :
            <input type="text" name="constraint-vector-b" id="vector-b" placeholder="[[1], [1], [1]]" required />
        </label> 
        <label for="vector-cT">
            Enter objective vector \(c^T\) in \(c^Tx+z\) :
            <input type="text" name="objective-vector-cT" id="vector-cT" placeholder="[1, 1, 1]" required />
        </label> 
        <label for="constant-z">
            Enter objective constant \(z\) in \(c^Tx+z\) (default: 0):
            <input type="int" name="objective-constant-z" id="constant-z" value=0 required />
        </label> 
        <label for="show-canonical"> 
            <input type="checkbox" id="show-canonical" class="inline"/>
            Show how to get canonical form in each iteration
        </label>
    </fieldset>

    <fieldset>
        <label for="simplex"> 
            <input type="radio" name="problem-type" id="simplex" class="inline" checked/>
            Simplex
        </label>
        <label for="simplex"> 
            <input type="radio" name="problem-type" id="two-phase-simplex" class="inline"/>
            Two-phase Simplex
        </label>
    </fieldset>

    <fieldset>
        <div id="phase1-details">
            <label for="show-phase-1-details" > 
                <input type="checkbox" id="show-phase-1-details" class="inline"/>
                Show details in phase 1 of two phase simplex
            </label>
        </div>

        <div id="starting-basis">
            <label for="starting-basis">
                Enter starting basis \(B\) :
                <input type="text" name="starting-basis" id="starting-basis" placeholder="[1, 2, 3]"/>
            </label> 
        </div>
    </fieldset>

    <input type="submit" value="Calculate!" class="btn btn-default">
</form>

{% if result %}
    <h2>RESULT GOES HERE!</h2>
{% endif %}

<footer>
    <p>No Copyleft - Rara & Toto</p>
</footer>

<script src="../static/lp-solver.js"></script>
</body>
</div>
    
</html>