<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Program Solver</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/lp-solver-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body> 
    <h1>Linear Program Solver</h1>
    <p>Find the optimal solution of a linear program in standard equality form, or decide if it is infeasible or unbounded.</p>
    <form action="/submit" method="post">
        <fieldset>
            <div class="fieldset-container">
                <div class="lp-formulation-container">
                    <div>
                        <label for="matrix-A">
                            Enter constraint matrix \(A\) in \(Ax=b\) :
                        </label> 
                        <input type="text" name="constraint-matrix-A" id="matrix-A" placeholder="[[1,0,0], [0,1,0], [0,0,1]]" required
                        value="{{ '[[1,0,0],[0,1,0],[0,0,1]]' if request.form.get('constraint-matrix-A') is none else request.form.get('constraint-matrix-A') }}"/>
                    </div>
                    <div>
                        <label for="vector-b">
                            Enter constraint vector \(b\) in \(Ax=b\) : 
                        </label> 
                        <input type="text" name="constraint-vector-b" id="vector-b" placeholder="[[1], [1], [1]]" required 
                        value="{{ '[[1],[1],[1]]' if request.form.get('constraint-vector-b') is none else request.form.get('constraint-vector-b') }}"/>
                    </div>
                    <div>
                        <label for="vector-cT">
                            Enter objective vector \(c^T\) in \(c^Tx+z\) :
                        </label> 
                        <input type="text" name="objective-vector-cT" id="vector-cT" placeholder="[1, 1, 1]" required 
                        value="{{ '[1,1,1]' if request.form.get('objective-vector-cT') is none else request.form.get('objective-vector-cT') }}"/>
                    </div>
                    <div>
                        <label for="constant-z">
                            Enter objective constant \(z\) in \(c^Tx+z\) (default: 0):
                        </label> 
                        <input type="int" name="objective-constant-z" id="constant-z" placeholder="0" required 
                        value="{{ '0' if request.form.get('objective-constant-z') is none else request.form.get('objective-constant-z') }}"/>
                    </div>
                </div>
                <div class="preview-container">
                    <div id="preview-box"></div>
                </div>
            </div>
        </fieldset>
        
        <fieldset>
            <label for="simplex"> 
                <input type="radio" name="problem-type" id="simplex" class="inline" value="simplex"
                    {% if form_data.get('problem-type') == 'simplex' %}checked{% endif %}/>
                Simplex
            </label>
            <label for="two-phase-simplex"> 
                <input type="radio" name="problem-type" id="two-phase-simplex" class="inline" value="two-phase-simplex"
                    {% if form_data.get('problem-type') == 'two-phase-simplex' %}checked{% endif %}/>
                Two-phase Simplex
            </label>
            <label for="canonical"> 
                <input type="checkbox" name="show-canonical" id="canonical" class="inline" value="True"
                    {% if form_data.get('show-canonical') == 'True' %}checked{% endif %}/>
                Show how to get canonical form in each iteration
            </label>
        </fieldset>

        <fieldset>
            <div id="phase1-details">
                <label for="phase-one-detail" > 
                    <input type="checkbox" name="show-phase-one-detail" id="phase-one-detail" class="inline" value="True"
                        {% if form_data.get('show-phase-one-detail') == 'True' %}checked{% endif %} />
                    Show details in phase 1 of two phase simplex
                </label>
            </div>

            <div id="starting-basis">
                <label for="starting-basis">
                    Enter starting basis \(B\) :
                </label> 
                <input type="text" name="starting-basis" id="starting-basis" placeholder="[1, 2, 3]"
                    value="{{ '[1,2,3]' if form_data.get('starting-basis') is none else form_data.get('starting-basis') }}"/>
            </div>
        </fieldset>
        <input type="submit" value="Calculate!" class="btn btn-default">
    </form>

    {% if result %}
    <div class="result">
        {{ output }}
    </div>
    {% endif %}

    <footer>
        <p>No Copyleft - Rara & Toto</p>
    </footer>

    <script src="../static/js/lp-solver.js"></script>
</body>
    
</html>